<h1><%= @task.title %></h1>
<p><%= @task.details %></p>

<% if @task.completed == true %>
  <p> This task is completed </p>
 <% else %>
  <p> This task is not completed </p>
<% end %>

<%= link_to "Edit Task", task_edit_path %>

<%= link_to "Back to home", tasks_path %>

